/* Main grid properties */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 5px;
    background-color: black;
    padding: 10px;
    /* height: 90vh; */
}

/* Base properties of each cell */
.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    border: 5px solid black;
    border-radius: 50%;
    box-shadow: inset -25px -25px 40px rgba(0,0,0,.5);
    background-image: -webkit-linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);
    background-image: -moz-linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);  
    background-image: -o-linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);
    background-image: -ms-linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);
}

/* Seperator */
.grid-container > .blank {
    padding: 0px;
    height: 0px;
    border: 0px;
}

/* Non-scoring area */
.grid-container > .unava {
    filter: brightness(35%);
    border-top: 10px solid white;
}
.grid-container > *:nth-child(n+46){
    border-top: 5px solid black;
    filter: brightness(65%);
}

/* Placement area */
.grid-container > .avail{
    background-color: white;
}

.player {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.pieces, .player {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 10px 0;
    font-size: 30px;
    border: 5px solid black;
}

#player1, #player2 {
    display: none;
}